body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

header {
  margin-bottom: 20px;
  text-align: center;
}

header h1 {
  font-size: 2em;
  color: #333333;
}

.menu {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  cursor: pointer;
  background: #007BFF;
  border: none;
  border-radius: 5px;
}

button:hover {
  background: #0056b3;
}

#content {
  min-height: 150px;
  padding: 10px;
  text-align: center;
  background: #fafafa;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  color: white;
  text-align: center;
  background-color: #333333;
}

/* Канвас */
#game-container {
  display: block; /* Для правильного позиціонування */
  background-color: #ffffff;
  border: 2px solid #000000;
}

/* Стиль для підказки */
#hint {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: rgb(0 0 0 / 70%);
  border-radius: 5px;
}

/* Стиль для рахунку та ресурсів */
#scoreboard {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #333333;
  background-color: rgb(255 255 255 / 80%);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
